<ion-view class="credits">
	<ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goMap()">
            <i class="icon ion-map"></i>
        </button>
    </ion-nav-buttons>

	<ion-header-bar align-title="left" class="bar-positive bar-subheader">
		<div class="title">Credits</div>	
	</ion-header-bar>
	
    <ion-content has-header="true" has-subheader="true">
        <div class="padding credits-body">
        
			<p>Filosofapp &egrave; un&rsquo;applicazione realizzata da <strong>L&rsquo;Isola dei Ragazzi</strong>, casa editrice specializzata in pubblicazioni per ragazzi e l&rsquo;<strong>ISPF</strong> (Istituto per la Storia del Pensiero Filosofico e scientifico moderno) &ndash; <strong>CNR</strong>.</p>

			<p>Scopo dell&rsquo;app &egrave; <strong>trasmettere i rudimenti del pensiero filosofico</strong> attraverso componenti gi&agrave; note al giovane utente (le proprie pulsioni emozionali quotidiane) e attraverso uno strumento interattivo di utilizzo altrettanto quotidiano (un dispositivo mobile).</p>

			<p><strong>Su un&rsquo;isola immaginaria, Sophia</strong>, otto filosofi del passato hanno trovato rifugio. L&rsquo;utente che naviga Filosofapp pu&ograve; percorrere quest&rsquo;isola e instaurare dei dialoghi con tali filosofi, rendendosi protagonista di vere e proprie scene multimediali che dipendono dalle proprie scelte.</p>

			<p><strong>Ciascuna isola &egrave; legata a un filosofo</strong> che &egrave; a sua volta teso a insegnare una specifica emozione. Ad accompagnare l&rsquo;utente un accompagnatore &ldquo;virtuale&rdquo;, Talete, considerato il padre del pensiero occidentale.</p>

			<p>Gli otto filosofi individuati (e le relative emozioni) sono:</p>

			<ul>
				<li>E. Bloch (Speranza)</li>
				<li>Platone (Amore)</li>
				<li>L.A. Seneca (Ira)</li>
				<li>T. Hobbes (Paura)</li>
				<li>G.B. Vico (Meraviglia)</li>
				<li>B. Spinoza (Gioia)</li>
				<li>R. Descartes (Tristezza)</li>
				<li>Aristotele (Vergogna)</li>
			</ul>

			<p>Per ciascun filosofo il dialogo consiste nella consultazione di schede multimediali, video, lettura di estratti, dialoghi e scelte da parte dell&rsquo;utente che &ldquo;indirizzano&rdquo; il dialogo verso altre direzioni (ad esempio sulla base della risposta fornita).</p>

			<p>Ulteriori informazioni sono disponibili sul sito <a href="http://www.filosofapp.it/">www.filosofapp.it</a></p>

			<p>Buona navigazione!</p>



			<p style="text-align: center;">L'iniziativa è stata realizzata con il co-finanziamento dell'Unione Europea. <br> Asse 2 - Obiettivo Operativo 2.1 - Bando Sportello dell'Innovazione - Azione 1 - Progetti Creative and Cultural Lab<br> Giunta Regionale della Campania - Dip. Istruzione, Ricerca, Lavoro, Politiche Culturali e Politiche Sociali. 081.7962633.</p>
			<p style="text-align: center;"><img class="full-width" src="img/loghiistituzionali.jpg" alt=""></p>

        </div>
    </ion-content>

</ion-view>