<ion-view view-title="Benvenuti sull'isola di Sophia">
    <ion-content class="map-canvas">
        <ion-scroll zooming="true" direction="xy" class="viewport">
            <div style="width: 1280px; height: 800px; background: url('img/map_buttons.jpg')">
                <div ng-repeat="place in places track by $index">
                    <i class="icon ion-ios-location marker" ng-class="place.marker" ng-click="goPlace(place.id)"></i>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
